$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding-bottom: 20px;
}

h1 {
    margin: 0;
    border-bottom: 4px dotted #999;
    display: inline-block;
    float: right;
}

.header {
    text-align: center;

    width: 100%;
    margin-top: 10px;
}

.container {
    width: 100%;
}

.charts {
    .chart {
        border: 1px solid #ccc;
        height: 400px;
    }
}

.settings {
    .setting {
        float: left;
        margin: 0 0 0 20px;
    }

    &.opaque {
        opacity: 0.9;
    }

    td.input-group {
        position: static;
        display: table-cell;
        padding: 5px 0;
        padding-right: 10px;
    }

    .url-list, .location-list, .label-list {
        padding: 0;
        max-width: 430px;
        max-height: 300px;
        overflow-y: auto;

        li {
            margin: 5px 0;
        }
    }
}
